@model PodcastMonitor.Web.Api.Models.Feed.FeedListViewModel
 
@using (Html.BeginForm(null, null, FormMethod.Post))
{
    @Html.ValidationSummary(true)
    <div class="area">
        <fieldset>
            <legend>Feeds</legend>ssss
            @Html.EditorForModel()
        </fieldset>
        <input type="submit" value="Save" />            
  
    </div>
}
        
@if (@User.Identity.IsAuthenticated)
{
    @section scripts {
        @Scripts.Render("~/bundles/knockout")
        @Scripts.Render("~/bundles/jqueryval")
        @Scripts.Render("~/bundles/feeds")
    }
}
    
